* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e0101;
    color: beige;
    padding: 40px 70px;

}

section {
    padding: 40px 70px;
    margin-left: 52px;
    background: tan;

}